.modal-content{
  .modal-header{
        border-bottom: 3px solid $gray2;
        background: $gray1;
        position: relative;
    button{
        background: transparent; 
        border: 0;
        color: $redNormal;
        transition: color .2s;
        position: absolute;
        top: 18px; right:18px;
            &:hover{
                color: $redLight;
            }
        span{
            font-size: 20px;
        }
    }
    h4{
        color: $color3;
        font-size: 28px;
        font-weight: lighter;
        margin: 0;
        padding: 0;
     }
   }//  modal header ends 
   .modal-body{
    margin: 0;
    padding: 24px;
    article:nth-child(1){
        position: relative;
      a{
        color: $gray3;
        font-size: 30px;
        position: absolute;
        right: 18px;
        top: 0;
        z-index: 12;

        &:hover{
            color: $redLight;
        }
        input {
            cursor: pointer;
            top: 0;
            z-index: 12;
            position: absolute;
            display: block !important;
            width: 57px !important;
            height: 57px !important;
            opacity: 0 !important;
            overflow: hidden !important;
         }
      }


      a.upload{
        @include centerAbsolute ;
        color: $redNormal;
        font-size: 40px;
        height: 60px;
        overflow: hidden;
        width: 41px;
        z-index: 13;
          input {
            cursor: pointer;
            display: block !important;
            height: 57px !important;
            opacity: 0 !important;
            overflow: hidden !important;
            position: absolute;
            top: 0;
            width: 57px !important;
            z-index: 12;
         }
      } 
      figure{
        border-radius: 50%;
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100px;
        img{
             -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Safari */
            height: 100%;
            left:50%;
            position:absolute;
            top:50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
      }
     }
      article:nth-child(2), article:nth-child(3){
        color: $grayB;
        font-size: 16px;
        padding-bottom: 9px;
        padding-top: 9px;
        label, input{
          display: block;
          margin-bottom: 9px;
          width: 100%;
        }
        input{
            background-size: 26px;
            background: url(../assets/images/png/edit45.png) no-repeat scroll right center / 26px auto;
            border-radius: 3px;
            border: 1px solid $color6;
            font-weight: lighter;
            padding: 9px ;
        }
     }
         article:nth-child(2){
            padding-right: 4px;
         }
          article:nth-child(3){
            padding-left: 4px;
         }
     .contentProfile{
        margin: 0;
        padding: 0; 
        font-size: 16px;
         label{
            color: $grayB;
            font-weight: bold;
            margin: 18px 0  4px;
            padding: 0;
            width: 100%;
         }
         :nth-child(3),  :nth-child(5), :nth-child(11),  :nth-child(13)
         { margin-right: 8px;}
         :nth-child(4),  :nth-child(6),:nth-child(12),  :nth-child(14)
         { margin-left: 9px;}

         :nth-child(3),  :nth-child(4),  :nth-child(5),
         :nth-child(6),:nth-child(11),  :nth-child(12),
         :nth-child(13),:nth-child(14)
          {
            width: 48%;
          }
         textarea, input{
            background-size: 26px;
            width: 100%;
            background: url(../assets/images/png/edit45.png) no-repeat scroll right center / 26px auto;
            border-radius: 3px;
            border: 1px solid $color6;
            font-weight: lighter;
            padding: 9px ;


         }
        :nth-child(13),:nth-child(14){
              -moz-appearance:    none;
               -webkit-appearance: none;
               appearance:         none;
        }
        :nth-child(14){
           padding: 9px ;
           background: url(../assets/images/png/arrows.png) no-repeat right ;
           -webkit-appearance: none;
           appearance:         none;
           background-size: 22px;
           border: 1px solid $color6;
           color: $color4;
          -moz-appearance:    none;
        }
         textarea{
            height: 90px;
         }
        :nth-child(7), :nth-child(9){
            display: inline-block;
            float: left;
            width: 30%;
            padding: 9px 0 ;
         }
         :nth-child(8), :nth-child(10){
            background: $color5;
            border: 0;
            color: black;
            display: inline-block;
            float: left;
            font-weight: bold;
            margin: 18px 0 4px;
            text-align: center;
            width: 70%;
         }
     }

   } //modal body ends
   .modal-footer{
    text-align: center;
    border: none;
    padding: 18px 0 36px;
       button{
            background: $redNormal;
            border-radius: 20px;
            border: 0;
            color: white;
            font-size: 17px;
            font-weight: 300;   
            padding: 9px 23px;
            &:hover{
                background: $redLight;
            }

        }
        :nth-child(1){
            background: $blue;
        }
    }//ModalFooter
} // modal ends -------------->

.modalLarge{
    padding: 0 15px 0; 
    .headerModalLarge{
        background: $gray1;
        position: relative;
        border-bottom: 3px solid $gray2;
        padding: 24px 0 0;
        .clubDetails{
            display: block;
            height: 80px;
            margin: 0 auto;
            width: 190px;
            figure{
                border-radius: 50%;
                float: left;
                height: 70px;
                margin: auto;
                overflow: hidden;
                position: relative;
                width: 70px;
            img{
                 -ms-transform: translate(-50%, -50%); /* IE 9 */
                -webkit-transform: translate(-50%, -50%); /* Safari */
                height: 100%;
                left:50%;
                position:absolute;
                top:50%;
                transform: translate(-50%, -50%);
                width: 100%;
                }
            }
            h6{
              color: $gray4;
               float: right;
               font-size: 13px;
               font-weight: bold;
               margin: 0;
               padding: 29px 0 0 18px;
               width: 120px;  
           }            
        }   
        button.close{
            position: absolute;
            background: transparent;
            border: 0;
            color: $color2; 
            right: 9px;
            transition: color .2s;
            top: 9px;
            z-index: 2;
            font-size: 32px;
                &:hover{
                    color: $color4;
                }
      }
      h5{
        color: $gray4;
        font-size: 33px;
        font-weight: 100;
        text-align: center;
        padding:0 0 0 18px;
        margin: 0 0 18px 0;
      }
    }


    .details{
        background: white;
        padding: 12px 24px;
        border-bottom: 1px solid $gray3;
    
        p{
            font-weight: bold;
            margin: 0;
            span{
                font-weight: lighter;
            }
        }
        p:nth-child(3){
            text-align: right;
        }
    }
    .contentDetails{
        padding:18px 37px 0px;
        h6{
            font-size: 18px;
            font-weight: bold;
            padding: 0 0 9px;
            margin: 0;
            }
            p{
                color: $color3;
                font-size: 13px;
                font-weight: 100;
                padding: 4px 0 9px;
                margin: 0;
            }
            article.winner{
                margin-bottom: 18px;
               span{
                color: #f9ba15;
                float: left;
                font-size: 50px;
                height: 50px;
                position: relative;
                width: 50px;
                margin-top: -12px;
                b{
                    @include centerAbsolute;
                    color: white;
                    font-size: 22px;
                    height: 22px;
                    width: 22px;
                    text-align: center;
                }

               }
               .textWinner{
                float: right;
                margin-left: 4px;
                h4{
                    padding:0;
                    margin: 0;
                    font-weight: bold;
                    font-size: 14px;
                }
                p{
                    font-weight: 100;
                    color: $gray3;
                    font-size:  13px;
                    padding: 0;
                    width: 185px;
                }
              }

            }
            button{
                background: $redNormal;
                border-radius: 20px;
                border: 0;
                color: white;
                font-size: 17px;
                font-weight: 300;   
                margin: 0 0 36px;
                padding: 5px 23px;
                &:hover{
                    background: $redLight;
                }

        }
        
    }

    .jurado{
        font-size: 13px;
        padding: 0 42px 54px;
        h4{
            font-size: 18px;
            font-weight: bold;
            padding: 0 0 9px;
            margin: 0;     
        }
        article{
            img{
                float: left;
                width: 33%;
            }
            .text{
                h4{
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                }
                float: left;
                padding: 0 18px;
                width: 66%;
                p{
                    font-size: 11px;
                   font-weight: lighter;
                   margin: 0;
                   line-height: 13px;
                }
                a{
                    color: $blue;
                    opacity: 1;
                    &:hover{
                        opacity: .6;
                    }
                }
            }
        }
    }
}

   .foot {
    background: $gray1;
    padding: 18px 0;
    height: 86px;
    .contentFoot{
        width: 400px;
        height: 50px;
        margin: 0 auto;
        p{
            font-size: 17px;
            font-weight: bold;
            width: 70%;
            float: left;
        }
        .buttons{
            float: left;
            width: 30%;
            text-align: center;
            span{
                font-size: 32px;
                cursor: pointer;
                margin: 2px;
            }
        }
    }
 
   }     

.modalSmall{
    padding: 0 0 20px;
    text-align: center;
    .headModalSmall{
         height: 46px;
         padding: 12px;
        background: $gray1;
        border-bottom: 3px solid $gray2;
        span{
            color: $redNormal;
            float: right;
            transition: color .4s;
            &:hover{
                color: $redLight;
            }
        }
    }
    p{
        font-size:15px;
        font-weight: 100;

      }
    button{
        border-radius: 50%;
        border: 0;
        color: white;
        height: 40px;
        padding: 7px 10px;      
        width: 40px;
     }
    button:nth-child(3){
        background: $redNormal;
        &:hover{
        background: $gray2;
        }
    }
    button:nth-child(4){
        background: $grayB;
        &:hover{
        background: $gray2;
        }
      }
} //Modal Samll ends