
main{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto 140px;
    padding: 9px 18px; 
    table{
        font-size: 15px;
        font-weight: lighter;
        margin-top: 19px;
        width: 100%;
        tr:nth-child(1){
            background: $gray4 ;
            color: white;
            height: 50px;

            td{
                background: $gray4 !important;
            }
            td{
                font-weight: lighter !important;
            }
        }
        tr{
            height: 90px;
            border-bottom: 1px solid $gray2;
            td:nth-child(1){
                font-weight: bold;
                background: #F2F2F2;
            }


             :nth-child(5), :nth-child(6){
                a,span{
                   font-size: 36px !important;
                  color: $gray2;
                  margin: 0 4px;
              }
            } 

            td{
                text-align: center;
                span{
                    
                    font-size: 36px !important;
                    transition: color .2s;

                }
            }
        }
    }// table Ends

   ul.pagination{
    display: block; 
    margin: 36px auto;
    width: 166px;
    a{
        color: $color3
    }
   }// pagination ends
}//Main  ends---------------------->


