// colors
$color1: #E51919;
$color2: #444;
$color3: #414141;
$color4: #999;
$color5: #c4c4c4;
$color6: #e6e6e6;
$color7: #f9f9f9;
$link:#337ab7;
$hover: #557ab7;

$gray1: #FAFAFA;
$gray2: #CECECE;
$grayB: #6E6E6E;
$gray3: #414141;
$gray4: #232323;


$redLight: #F2BCBC;
$redNormal: #E51919;
$blue: #2596DE;


// Types
$tipe1: 'helvetica';
$tipe2:  'helvetica';
$tipe3: 'helvetica';
$tipe4: 'helvetica';
