header{
    border-bottom: 3px solid $gray2;  
    display: inline-block;
    height: auto;
    padding: 9px 0;
    width: 100%;
    .content{
        margin: 0 auto;
        max-width: 100%;
        padding: 9px 24px;
        width: 100%;
        img{
            float: left;
            margin-top: 8px;
            width: 70px;
            transition: all .3s;
              @media (min-width: 420px) {
                margin: 0;
                width: 150px;
              }
        }
        figure{
            border-radius: 50%;
            height: 50px;
            margin: auto;
            overflow: hidden;
            float: right;
            position: relative;
            width: 50px;
            display: inline-block;
            img{
                 -ms-transform: translate(-50%, -50%); /* IE 9 */
                -webkit-transform: translate(-50%, -50%); /* Safari */
                height: 100%;
                left:50%;
                position:absolute;
                top:50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
          }
          a.edit{
            margin: 13px 9px;
            font-weight: bold;
            float: right;
            color: $redNormal;
            &:hover{
                color: $redLight;
            }
          }
        > button{
            background: $gray3;
            border-radius: 20px;
            border: 0;
            color: white;
            float: right;
            font-size: 17px;
            font-weight: 300;
            margin: 4px 0 0 36px;
            padding: 7px 20px;
            &:hover{
                background: $gray2;
            }
            span{
                margin: 0 9px 0 0;
            }
        }
    }
}//headerEnd * *

.nav{
    background: $gray1;
    border-bottom: 1px solid $gray2;
    height: 90px;
    margin-top: -7px;
    width: 100%;
    .contentNav{
        margin: 0 auto;
        max-width: 1180px;
        padding: 24px 24px 0;
        text-align: center;
        width: 100%;
        @media (min-width: 768px) {
           text-align: left;
        }
        i{
            background: $gray2;
            border-radius: 50%;
            color: white;
            float: right;
            height: 27px;
            padding: 5px;
            width: 27px;
        }
        b{
            color: $gray2;
            display: inline-block;
            float: right;
            font-weight: bolder;
            margin: 5px 13px;
        }
        button{
            background: transparent;
            border:0;
            color: $gray3; 
            font-size: 15px;
            font-weight: bold;
            padding: 0px 10px;
            transition: color .2s;
            &:hover{
                color: $redNormal;
            }
            span{
                opacity: .5;
                font-size: 24px;
                vertical-align: middle;
                margin: 0 9px;
                border: none;
            }
           @media (min-width: 768px) {
              padding: 0px 40px;
           } 
        }
        button:nth-child(1){
         border-left: 2px solid $gray2;
         border-right: 2px solid $gray2;   
        }
        button:nth-child(2){
         border-right: 2px solid $gray2;    
        }
    }    
}// SeccionNavEnd * *
.head{
    border-bottom: 1px solid $gray2;
    height: 76px;
    width: 100%;
    .contentHead{
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 24px;
        width: 100%;
        h2{
            font-family: 'Avenir LT Std';
            color: $color3;
            font-size: 28px;
            font-weight: lighter;
            display: inline-block;
            padding-left: 9px; margin: 18px 0 0;
        }
        select, input, button{
            float: right;
            margin-top: 18px;
        }
        select, input{
            padding: 8px 15px;
            margin: 18px 18px 0 0;
            width: 224px;
            border-radius: 5px;
        }
        select{
            background: url(../assets/images/png/arrows.png) no-repeat right ;
         -moz-appearance:    none;
           -webkit-appearance: none;
           appearance:         none;
           background-size: 22px;
           border: 1px solid $color6;
           color: $color4;
                }
        input{
            background: url(../assets/images/png/magnifying-glass32.png) no-repeat right ;
            border: 1px solid $color6;
            background-size: 26px;
        }
        button{
            background: $redNormal;
            border-radius: 20px;
            border: 0;
            color: white;
            float: right;
            font-size: 17px;
            font-weight: 300;   
            margin-top: 19px;
            padding: 5px 23px;
            &:hover{
                background: $redLight;
            }
            span{
                font-size: 20px;
                margin-right: 8px;
                vertical-align: middle;
            }
        }
        

   } 
}// Seccion Head Ends

.datesConcursoMembers{
    width: 100%;
    height: 42px;
    background: $gray4;
    color: white;
    .datesConcurso{
        width: 1180px;
        margin: 0 auto;
        p{
            display: inline-block;
            font-size: 14px;
            font-weight: lighter;
            margin: 13px 31px;
            padding: 0;
            position: inherit;
            strong{
                font-weight: 700;
                }
            }
    }
}

footer{
     background: $gray3;
     border-top: 3px solid $color6; 
     bottom: 0px;
     height: 70px;
     position: fixed;
     width: 100%;
    ul{
        margin: 0 auto !important;
        max-width: 1180px;
        padding:24px 18px;
        width: 100%;
        li{
            color: white;
            font-weight: 100;
            text-align: center;
            a{
                color: white;
                font-weight: 300;
                &:hover{
                    color: $redNormal;
                }
            }
        }
    }
} //footerEnd * *